

@media(min-width:900px){
    .container {
        width:75% !important;
        
    }
}


nav{
    background-color: #976444 !important;
}
.navbar {
    padding: 0 !important;
}

.navbar a{
    color: #e2dfda !important;
    padding: 10px;
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
}

body{

    background-color: #e6ded6;
   

}
.button{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #976444;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5%;
    text-decoration: none !important;
}

.button:hover {
    background-color: azure; /* Green */
    color:#976444;
    border: 1px solid #bdb8b1;
}

.zoom {
    transition: transform .8s; 
  
}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    border: 1px solid #976444;
    text-decoration: unset !important;
}

.form-control:focus { 

    border-color: #976444 !important;
    border-width: 1px !important;
    box-shadow: 0 0 0 0 !important;
}

#post {
    color: black !important;
    text-decoration: none !important;
}

#edit {
    color:white !important;
}

.dropdown-menu{
    color: #976444 !important;

}

.nav-link{
    padding:20px !important;
}

.container{
    font-family:"Apple Chancery", cursive;

    font-size: 30px;
}


